*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#080808;
    scroll-behavior:smooth;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #262626;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff004f;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

/* navigation */
.navbar{
    background-color:#020200;
    }
    .nav-item:hover{
        color: #ff004f;
    }

    
.contact-img-container{
  width: 38%;
}

.contact-text-container h4 a{
  margin: 0 2px;
  text-decoration: none;
  color: rgb(129, 130, 130);
}
.contact-text-container h4 a:hover{
  color: #ff004f;
  text-decoration: underline;
}

/* contact-sec */
.contact-text-container{
  width: 50%;
}
.contact-text-container h1{
  font-size: 4rem;
}

.social-links{
  transition: 0.5s;
  color: white;
}

.social-links:hover{
  color: #ff004f;
  transform: translateY(-20px);
}

.form-container{
  width: 50%;
}
.form-container form input{
  background-color: #262626;
  border: none;
}
.contact-submit-btn{
  background-color: #ff004f;
  color: white;
}
.contact-submit-btn:hover{
  background-color: #d20042;
  color: white;
}
.contact-cv-btn{
  background-color: #ff004f;
  color: white;
}
.contact-cv-btn:hover{
  background-color: #d20042;
  color: white;
}

  footer{
      background-color: #262626;
  }

  /* media query */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .contact-container{
    flex-direction: column;
    /* background-color: aqua; */
    width: 100%;
}
.contact-text-container{
    /* background-color: #ff004f; */
    width: 100%;
    margin: 1rem 0;
}
.form-container{
    width: 100%;
    /* background-color: blue; */
    margin: 1rem 0;
}
}