*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#080808;
    scroll-behaviour:smooth;
}

/* navigation */
.navbar{
background-color:#020200;
}


/* main-sec */
.main-sec{
        background-image: url('./assets/portfolio-main-img.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main-text-conatiner h1{
    font-size:4rem;
}

/* about-sec */
.about-text-container h1{
    font-size:4rem;
}
.about-img-container{
    filter:grayscale(100);
    transition:0.5s;
}
.about-img-container:hover{
    filter:grayscale(0);
}
.about-btns{
    background-color:transparent;
    padding:3px 4px;
    position:relative;
    border:none;
    margin-right:2rem;
}
.about-btns::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.about-btns.active-link::after{
    width:100%;
}

.tab-contents ul li{
    list-style:none;
    margin:10px 0;
    color:white;
}
.tab-contents ul li span{
    color:#ff004f;
    font-size:14px;
}

.tab-contents{
display:none;
}
.tab-contents.active-tab{
    display:block;
}

/* service-sec */
.service-cards{
    background-color:#262626;
    transition:0.5s;
}
.service-cards:hover{
    background-color:#ff004f;
    transform: translateY(-6px);
}

/* work-sec */

.work-card-container a{
 text-decoration:none;
 min-width:259px;
 min-height:500px;
 background-color:#ff004f;
 margin:0 1rem;
 color:white;
}
.work-card-container a:hover{
    transform: translateY(-6px);
}
.work-card-name-container{
    background-color:rgba(0,0,0,0.8);
    padding:1rem 0;
}

/* media query */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .main-sec{
        background-image: url('./assets/portfolio-mobile-main-img.jpg');
  }

  .main-text-conatiner h1{
    font-size: 2rem;
  }

  .about-container{
    flex-direction:column;
  }
  .about-text-container h1{
    font-size:2rem;
}
.about-btns{
     margin-right:1rem;
}

.service-cards-container{
    flex-direction:column;
}
.service-cards{
    margin:1rem 0;
}

.work-card-container{
    flex-direction:column;
}
.work-card-container a{
    margin:1rem 0;
     min-width:259px;
     min-height:350px;
}

}