*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#080808;
}

/* navigation */
.navbar{
background-color:#020200;
}


/* main-sec */
.main-sec{
        background-image: url('./assets/portfolio-main-img.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main-text-conatiner h1{
    font-size:4rem;
}