*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#080808;
    scroll-behavior:smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #262626;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff004f;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

/* navigation */
.navbar{
background-color:#020200;
}
.nav-item:hover{
    color: #ff004f;
}


/* main-sec */
.main-sec{
        background-image: url('./assets/portfolio-main-img.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main-text-conatiner h1{
    font-size:4rem;
}

/* about-sec */
.about-text-container h1{
    font-size:4rem;
}
.about-img-container{
    filter:grayscale(100);
    transition:0.5s;
}
.about-img-container:hover{
    filter:grayscale(0);
}
.about-btns{
    background-color:transparent;
    padding:3px 4px;
    position:relative;
    border:none;
    margin-right:2rem;
}
.about-btns::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.about-btns.active-link::after{
    width:100%;
}

.tab-contents ul li{
    list-style:none;
    margin:10px 0;
    color:white;
}
.tab-contents ul li span{
    color:#ff004f;
    font-size:14px;
}

.tab-contents{
display:none;
}
.tab-contents.active-tab{
    display:block;
}

/* service-sec */
.service-cards{
    background-color:#262626;
    transition:0.5s;
}
.service-cards:hover{
    background-color:#ff004f;
    transform: translateY(-6px);
}

/* work-sec */

.work-card-container a{
 text-decoration:none;
 min-width:230px;
 min-height:350px;
 background-color:#ff004f;
 margin: 0 10px;
 color:white;
 transition: 0.5s;
}
.work-card-container a:hover{
    transform: translateY(-6px);
}
.work-card-name-container{
    background-color: rgba(0,0,0,0.8);

}

/* contact-sec */
.contact-text-container{
    width: 50%;
}
.contact-text-container h1{
    font-size: 4rem;
}

.social-links{
    transition: 0.5s;
    color: white;
}

.social-links:hover{
    color: #ff004f;
    transform: translateY(-20px);
}

.form-container{
    width: 50%;
}
.form-container form input{
    background-color: #262626;
    border: none;
}
.contact-submit-btn{
    background-color: #ff004f;
    color: white;
}
.contact-submit-btn:hover{
    background-color: #d20042;
    color: white;
}
.contact-cv-btn{
    background-color: #ff004f;
    color: white;
}
.contact-cv-btn:hover{
    background-color: #d20042;
    color: white;
}

/* media query */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .main-sec{
        background-image: url('./assets/portfolio-mobile-main-img.jpg');
  }

  .main-text-conatiner h1{
    font-size: 2rem;
  }

  .about-container{
    flex-direction:column;
  }
  .about-text-container h1{
    font-size:2rem;
}
.about-btns{
     margin-right:1rem;
}

.service-cards-container{
    flex-direction:column;
}
.service-cards{
    margin:1rem 0;
}

.work-card-container{
    flex-direction:column;
}
.work-card-container a{
    margin:1rem 0;
     min-width:259px;
     min-height:350px;
}
.contact-container{
    flex-direction: column;
    /* background-color: aqua; */
    width: 100%;
}
.contact-text-container{
    /* background-color: #ff004f; */
    width: 100%;
    margin: 1rem 0;
}
.form-container{
    width: 100%;
    /* background-color: blue; */
    margin: 1rem 0;
}
}